/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --text-color: #353430;
  --title-text-color: #FFC2E6;
  --decor-color: #FF8DCB;
  --secondary-text-color: #000028;
  --decor-text-color: var(--text-color);
  --decor-shadow: var(--decor-color);
  --main-bg-image: url(../images/cover-image-light.png);
  --decor-line-title: var(--text-color);
  --visible-rec: none;
  --main-hover-button-border-color: #32312D66;
  --main-focus-button-border-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-text-color: #FFC2E6;
    --decor-color: #FF8DCB;
    --secondary-text-color: #000028;
    --decor-text-color: var(--text-color);
    --decor-shadow: var(--decor-color);
    --main-bg-image: url(../images/cover-image-light.png); 
    --decor-line-title: var(--text-color);
    --visible-rec: none;
    --main-focus-button-border-color: var(--text-color);
    --main-hover-button-border-color: var(--text-color);
    }
  }

@media (width = 1024px) {
   .header__title {
    --decor-shadow: #FF0070;
  }

   .footer__title {
    --decor-shadow: #FF0070;
  }
}